@mixin background-color($color) {
    background-color: $color;

}

@mixin img-layout($display, $margin-l, $margin-r, $margin-top, $max-width, $max-height) {
    display: $display;
    margin-left: $margin-l;
    margin-right: $margin-r;
    margin-top: $margin-top;
    max-width: $max-width; 
    max-height: $max-height;

}