.btn {
    margin-top: 15px;
    width: 100%;
    color: $btn-color;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  
  
      &.default {
        @include background-color($tertiary-color);
      }
      
      &.error {
        @include background-color($error-btn);
      }
      
      &.info {
        @include background-color($info-btn);
      }
      
      &.success {
        @include background-color($success-btn);
      }
      
      &.warning {
        @include background-color($warning-btn);
      }

}