//Base Styles

* {
    font-family: 'Lato', sans-serif;
    color: $base-color;
    box-sizing: border-box;
  }
  
  p {
    line-height: $line-height;
  }
  
  a {
    text-decoration: $text-dec;
  }
  
  
 //Typography
  
  .headline-primary {
    color: $primary-color;
    margin-left: 10px;
  }
  
  .headline-secondary {
    font-weight: 300;
    color:$base-color;
  }
  
  .link {
    color: $tertiary-color;
    font-weight: 700;
  }
  
  .blockquote {
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
    margin-left: $quote-space;
    padding-left: $quote-space;
    border-left: 8px solid $primary-color;
    border-radius: 5px;
  }